@import url('https://fonts.googleapis.com/css2?family=Archivo+Narrow:ital,wght@0,400..700;1,400..700&family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap');

body {

    background-image: url(img/hypmic3.png);
    font-family: "Noto Sans", sans-serif;

    .container {
        max-width: 900px;
        margin: 0 auto;
        padding: 20px;
        background-color: black;
        -webkit-text-fill-color: rgb(230, 230, 230);
    }



}

h1, h4
{
    font-family: "Nunito Sans", sans-serif;

}

 



section aside {
    display: flex;

}



@media screen and (max-width:600px) {

    header,
    footer {
        padding: 30px;
    }

    section {
        display: block;
    }
}